@import "tailwindcss";

@theme {
  --animate-textcursor: textcursor 1s infinite;

  @keyframes textcursor {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

}

* {
  font-family: "TikTok Sans", sans-serif;
}
